@charset "utf-8";

/*****공통*****/

div#wrap {
  position: relative;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}

.subVisual {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.section .innerWrap {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.section .main-txt p {
  font-size: 20px;
  line-height: 31px;
  letter-spacing: -1px;
  color: #3e3b39;
}
.section .main-txt p.title {
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0;
  font-weight: 500;
  color: #3c3c3c;
}

/*스크롤 안보이게 하기*/ /*이 부분 없는게 좋을 것 같음(상준)*/
/*
::-webkit-scrollbar {
    display: none;
}
*/

/* header부분(웹사이트 맨위에 나와산책, 이용방법...회사소개 이부분) css*/
header {
  position: fixed; /* 브라우저창을 기준으로 위치를 지정해 배치합니다.*/
  top: 0;
  z-index: 999; /* z-index는 ppt에 맨앞으로 배치 맨뒤로 배치와같은 역할임*/
  width: 100%; /*위에 header 부분 가로를 100%로 지정*/
  height: 58px; /*위에 header 부분 세로를 60px로 지정*/
  border-bottom: solid 2px #b5b3b3;
}

/*header 부분 ANYMAN 이미지 위치등 지정하는 부분*/
header > a {
  position: absolute; /* relative값을 사용한 상위요소를 기준으로 위치를 지정해 배치합니다.*/
  left: 100px; /*왼쪽에서 부터 얼마나 떨어지는지*/
  top: 18px; /*위에서 부터 얼마나 떨어지는지*/
  z-index: 1; /* z-index는 ppt에 맨앞으로 배치 맨뒤로 배치와같은 역할임 즉 여기서는 1칸 앞쪽으로 배치함*/

  width: 140px;
  height: 24px;
  background: url(Image/nawasancheck-logo.svg) no-repeat;
  cursor: pointer; /*ANYMAN글씨 클릭시 마우스 포인터모양 나오도록 */
}

/* > 표시는 딱 자식까지만 적용하겠다는뜻임(손자X) */
/* header안에 span요소인 "나와 산책"이 글씨 안보이게 하기위함*/
header > a span {
  position: absolute;
  top: -1000px;
  text-indent: -9999px;
  font-size: 0 !important; /*여기서도 보면 "나와산책"을 안보이게하기위해 0으로함*/
}

/*header 부분에 하나더 얹어놓는것 */
header nav.pc-nav {
  display: flex; /**/
  justify-content: flex-end; /*요소들을 컨테이너의 우측으로 정렬*/
  padding: 0 70px;
  /*padding:10px; => top, right, bottom, left 값을 모두 10px으로 설정
    padding:10px 5px; => top, bottom : 10px / left, right : 5px 값으로 설정
    padding:10px 20px 30px 40px; => top : 10px, right : 20px, bottom : 30px, left : 40px 값으로 설정
*/
  background-color: white; /*이부분 일단 표시하기위해 넣어둠 (나중에 뺄것)*/
}

/*"나와산책" ~ "회사소개" 이부분*/
header nav.pc-nav a {
  position: relative;
  display: block;
  padding: 20px 30px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  background-color: red; /*이부분 일단 표시하기위해 넣어둠(나중에 뺄것)*/
}
/* header부분(웹사이트 맨위에 나와산책, 이용방법...회사소개 이부분) css 여기까지*/

/* header부분 (모바일) */

header nav.mobile-nav {
  display: none;
}
header nav.mobile-nav .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

header nav.mobile-nav .sidenav a {
  padding: 20px 0;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

header nav.mobile-nav .sidenav a:hover {
  color: #f1f1f1;
}

header nav.mobile-nav .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
header nav.mobile-nav span {
  font-size: 30px;
  cursor: pointer;
  color: #fff;
  float: right;
  position: absolute;
  right: 20px;
  top: 12px;
}
/* header부분 (모바일) 끝 */

/*****main*****/

/**** 첫 번째 내용 내 이야기를 들어줄 사람 부분 ****/

/* 한 개의 클래스 section만 사용하여 id 태그 사용 여러개의 클래스를 만드는 효과 */
/*맨 첫장 가로 세로 지정*/

.main #section0 {
  width: 100%;
  height: 1000px;
}

.main #section0 .mainVisual .main-txt .img {
  position: absolute;
  top: 75%;
  left: 70%;
  transform: translate(0, -50%);
}
/* mainVisual은 첫 번째 화면 */
.main #section0 .mainVisual {
  background: linear-gradient(white 65%, #6df6ea 65%);
  /*나중에 background-img:url()로 바꿔야함 */
  background-size: cover;
  /* 가로 세로 비율 맞춰서 화면에 꽉 차게 함 */
  height: 100%;
}

/* 첫 번째 화면에 있는 내용 전부  (내 이야기를 ~ 앱 로고까지) */
.main #section0 .mainVisual .main-txt {
  width: 100%;
  position: absolute;
  /* 위치 값이 클래스에 상속되지 않고 자유롭게 설정됨 */
  top: 40%;
  /* 따라서 top, left와 같이 고정된 위치 부여 가능 */
  left: 0;
  transform: translate(0,-50%);
  /* transform: translate는 상대적인 위치 값을 부여 (X, Y) */
}

/* 첫 번째 화면에 있는 누군가와 ~ 말하고 싶을때(텍스트부분) */
.main #section0 .mainVisual .main-txt p {
  padding-left: 10%;
  color: #000;
}

/* 내 이야기를 들어줄 사람 */
.main #section0 .mainVisual .main-txt p.title {
  text-align: end;
  padding-top: 1%;
  padding-right: 58%;
  color: #000;
  font-weight: 400;
  /* 글자 굵기 */
}

/* 나와산책 텍스트 부분*/
.main #section0 .mainVisual .main-txt p.title span {
  font-size: 60px;
  line-height: 70px;
  letter-spacing: 0;
  /* 문자 간격 */
  font-weight: 500;
  color: #000;
  display: block;
}

/* app 전체 부분( 구글, 애플 ) */
.main #section0 .mainVisual .innerWrap .app {
  text-align: center;
  padding-top: 64px;
  padding-left: 30%;
}

/* app 각 부분 */
.main #section0 .mainVisual .innerWrap .app a {
  display: block;
  background: rgba(255, 255, 255, 0.8);
  width: 180px;
  height: 50px;
  border: 1px solid #6df6ea;
  border-radius: 30px;
  line-height: 40px;
  cursor: pointer;
  margin-bottom: 6px;
}

/* app 이미지 부분 */
.main #section0 .mainVisual .innerWrap .app a img {
  vertical-align: middle;
}

/**** 세 번째 내용 언제 어디서든 부분 ****/

.main #section2 {
  width: 100%;
  height: 1000px;
}

.main #section2 .subVisual {
  /* 나중에 background-img:url()로 바꿔야함 */
  background-size: cover;
}

.main #section2 .subVisual .img {
  position: absolute;
  top: 0%;
  right: 50%;
  padding-right: 10%;
}

/* 세 번째 화면에 있는 내용 전부  언제 ~ 이용 방법 */
.main #section2 .subVisual .main-txt {
  width: 100%;
  padding-left: 70%;
  position: absolute;
  top: 40%;
  /* 따라서 top, left와 같이 고정된 위치 부여 가능 */
  left: 0;
  transform: translate(0, -50%);
  /* transform: translate는 상대적인 위치 값을 부여 (X, Y) */
}

/* 세 번째 화면에 있는 내용 중 언제 ~ 누구든지! */
.main #section2 .main-txt p.title {
  font-size: 32px;
  padding: 0;
}

/* 세 번째 화면에 있는 내용 중 이야기를 ~ 나눠보세요 */
.main #section2 .main-txt p {
  line-height: 40px;
  padding: 50px 0 90px;
}

/* 나와산책 이용방법 상호작용 버튼 만들기 */
.main #section2 .subVisual .main-txt a {
  font-size: 16px;
  line-height: 16px;
  border: solid 1px #535251;
  /* border: 테두리 */
  padding: 10px 17px;
  color: #333333;
  cursor: pointer;
  /* 마우스 커서를 갖다대면 클릭 모양으로 바뀜 */
  display: inline-block;
  transition: background 0.8s;
  /* 속성을 서서히 바꿈 */
}

/* 나와산책 이용방법 상호작용 */
.main #section2 .subVisual .main-txt a:hover {
  background: #333;
  color: #fff;
  transition: background 0.8s;
}

/**** 네 번째 내용 다양한 리스너 부분 ****/

.main #section3 {
  width: 100%;
  height: 1000px;
}

.main #section3 .subVisual {
  background: pink;
  /* 나중에 background-img:url()로 바꿔야함 */
  background-size: cover;
}

/* 네 번째 화면에 있는 내용 전부  다양한 ~ 활용TIP */
.main #section3 .subVisual .main-txt {
  position: absolute;
  top: 50%;
  left: 160px;
  transform: translate(-50%, -50%);
}

/* 네 번째 화면에 있는 내용 중 다양한 ~ 사용후기 */
.main #section3 .main-txt p.title {
  padding: 0;
  line-height: 60px;
}

/* 네 번째 화면에 있는 내용 중 내 주변에 ~ 있어요 */
.main #section3 .main-txt p {
  padding: 50px 0 90px;
  line-height: 40px;
}

/* 나와산책 활용TIP 상호작용 버튼 만들기 */
.main #section3 .subVisual .main-txt a {
  font-size: 16px;
  line-height: 16px;
  border: solid 1px #535251;
  padding: 10px 17px;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  transition: background 0.8s;
}

/* 나와산책 활용TIP 상호작용 */
.main #section3 .subVisual .main-txt a:hover {
  background: #333;
  color: #fff;
  transition: background 0.8s;
}

/*****use*****/

/* html 파일에 없음, @media로 생각됨 */

/* .use .home__nav {     
    position: fixed;
    top: 50%;
    right: 200px;
    transform: translate3d(-50%, -50%, 0);
    z-index: 100;
    width: 105px;
    height: auto;
} */

/**** use 공통 ****/

.section .row2 {
  float: left; /* 한 줄에 좌측, 우측화면으로 나누어 작성 */
  width: 50%; /* row 가로 화면 50% */
  height: 100%; /* row 세로 화면 100% */
  position: relative;
}
.use .section .txtbox p {
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0;
  color: #3e3b39;
  margin-bottom: 40px;
  font-weight: 500;
}
.use .section .txtbox p b {
  font-weight: bold;
}
.use .section .txtbox span {
  font-size: 20px;
  line-height: 30px;
  color: #3e3b39;
  display: block;
}

.use .section .img {
  border: 13px solid #e9e9e9;
  border-radius: 55px;
}

/**** 첫 번째 화면 ****

/* 첫 번째 화면 배경 설정 */

.use #section0 .subVisual {
  width: 100%;
  height: 1000px;
  background: url("Image/use-background1.jpg");
  background-size: cover;
}

/* 첫 번째 화면 폰 모양 이미지 설정 */

.use #section0 .img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50.2%, -50.8%);
  z-index: 10;
}

/* 첫 번째 좌측 화면 배경 설정 */

.use #section0 .row2.s1 {
  width: 60%;
}

/* 첫 번째 화면 배경 설정 ( 대화가 필요한 모든 순간, ) 화면*/

.use #section0 .row2.s1 .txtbox {
  left: 0;
  right: 225px;
  text-align: left;
  position: absolute;
  top: 40%;
  text-align: center;
}

.use #section0 .row2.s2 {
  width: 40%;
  background: white;
}

/* 첫 번째 화면 ( 나와산책으로 해결 ) 화면 */

.use #section0 .row2.s2 .txtbox {
  position: absolute;
  top: 40%;
  left: 10%;
}

/* 첫 번째 화면 모든 텍스트 ( 대화가 ~ 해결 ) 설정  */

.use #section0 .txtbox p {
  font-size: 30px;
  line-height: 50px;
  color: #fff;
  letter-spacing: -1px;
  font-weight: 400;
}

.use #section0 .txtbox span {
  font-size: 50px;
  line-height: 50px;
  color: #fff;
  letter-spacing: -1px;
  font-weight: 400;
}

/* 첫 번째 화면 두 번째 텍스트 ( 나와산책으로 해결 ) 설정*/

.use #section0 .s2 .txtbox p {
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 1px;
  font-weight: 500;
  color: #000;
}

.use #section0 .s2 .txtbox span {
  padding-top: 10%;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
  font-weight: 500;
  color: #000;
}

/**** 두 번째 화면 ****/

/* 두 번째 화면 배경 설정 */

.use #section2 .subVisual {
  width: 100%;
  height: 1000px;
}

/* 두 번째 우측 화면 배경 설정 */

.use #section2 .row2.s1 {
  background: white;
}

.use #section2 .row2.s2 {
  background: url("Image/use-background2.png");
  background-size: cover;
}

/* 두 번째 화면 폰 이미지 설정 */


.use #section2 .img {
  position: absolute;
  top: 50%;
  transform: translate(-50.2%, -50.8%);
  left: 0%;
}

/* 두 번째 화면 모든 텍스트 ( 비밀유지 ~ 후기 ) 위치 설정 */

.use #section2 .txtbox {
  text-align: end;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}

/**** 세 번째 화면 ****/

/* 세 번째 화면 배경 설정 */

.use #section3 .subVisual {
  width: 100%;
  height: 1000px;
}

/* 세 번째  화면 배경 설정 */

.use #section3 .row2.s2 {
  background: white;
}

.use #section3 .row2.s1 {
  background: url("Image/use-background3.png");
  background-size: cover;
}

/* 세 번째 화면 폰 이미지 설정 */

.use #section3 .img {
  position: absolute;
  top: 50%;
  left: 100%;
  z-index: 10;
  transform: translate(-50.2%, -50.8%);
}

/* 세 번째 화면 모든 텍스트 ( 부담없는 ~ 산책 ) 위치 설정 */

.use #section3 .txtbox {
  position: absolute;
  top: 50%;
  left: 40%;
}

/**** 네 번째 화면 ****/

/* 네 번째 화면 배경 설정 */

.use #section4 .subVisual {
  width: 100%;
  height: 1000px;
  background: url("Image/use-background4.jpg");
  background-size: cover;
}

.use #section4 .subVisual::before {
  content: "";
  opacity: 0.5;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #000;
}

/* 네 번째 화면 폰 이미지 설정 */

.use #section4 .img {
  position: absolute;
  top: 50%;
  transform: translate(-50.2%, -50.8%);
  left: 0%;
}

/* 네 번째 화면 모든 텍스트 ( 예약완료 ~ 간편하게 ) 위치 설정 */

.use #section4 .txtbox p{
  text-align: end;
  position: absolute;
  top: 40%;
  right: 10%;
  transform: translate(-50%, -50%);
}

.use #section4 .txtbox span {
  position: absolute;
  top: 60%;
  right: -60%;
  transform: translate(-50%, -50%);
}

/* 네 번째 화면 모든 텍스트 ( 예약완료 ~ 간편하게 ) 설정 */

.use #section4 .txtbox p,
.use #section4 .txtbox span {
  color: #fff;
}

/* 당신의 이야기를 들어드립니다 화면 */

.use .all-ft .app-down {
  margin-top: 0; /* 위에 간격 없이 붙이기 */
}

/*****listener*****/

/* .listener header nav a {
    color: #3c3c3c;
} */

/**** listener 공통 ****/

.listener #section2 .main-txt .text2-mb {
  display: none;
}

/* 사진 가운데로 정렬 */

.listener .subVisual {
  margin: 0 150px;
}
/* 전체 화면 설정 */

.listener .section {
  width: 100%;
  height: 1000px;
}

/* 전체 title 텍스트 설정 */

.listener .main-txt p.title {
  font-size: 40px;
  line-height: 60px;
  color: #3c3c3c;
  padding-top: 5%;
  font-weight: 500;
}

/* 전체 sub 텍스트 설정 */

.listener .main-txt p {
  font-size: 30px;
  line-height: 40px;
  padding-top: 30px;
  color: #3c3c3c;
}

/**** 두 번째 화면 ****/

/* 두 번째 화면 (산책리스너란? ~ 있습니다) 텍스트 설정*/

.listener #section1 .main-txt {
  text-align: center;
  width: 100%;
  height: 25%;
  margin-top: 50px;
}

.listener #section1 .imgbox {
  display: flex;
}

/* 두 번째 화면 전체 사진 설정 */

.listener #section1 .img {
  width: 33%;
}

.listener #section1 .txtbox {
  display: flex;

}


.listener #section1 .txtbox p.title{
  width: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  padding-top: 0;

}


.listener #section1 .txtbox p.title span {
  font-size: 30px;
  line-height: 70px;

}


/* 세 번째 화면 */

.listener #section2 .main-txt {
  text-align: center;
  width: 100%;
  height: 25%;
  margin-top: 20px;
}

.listener #section2 .main-txt .text1 {
  display: flex;
  padding-left: 25%;
  width: 100%;
  height: 100%;
}
.listener #section2 .main-txt .imgbox1 {
  margin-left: -7%;
}
.listener #section2 .main-txt .imgbox2 {
  margin-left: 10%;
}

.listener #section2 .main-txt .txtbox {
  font-size: 20px;
  line-height: 35px;
  opacity: 0.5;
  width: auto;
}

.listener #section2 .main-txt .text2 {
  align-items: center;
  text-align: start;
  padding-left: 25%;
}
.listener #section2 .main-txt .text2 .img3 {
  width: 100%;
  margin-left: -7%;
}
.listener #section2 .main-txt .text2 .txtbox {
  display: flex;
  width: 80%;
  text-align: center;
  opacity: 0.8;
  height: 100%;
}
.listener #section2 .main-txt .text2 .txtbox p {
  padding-left: 20px;
  font-size: 20px;
  height: 100%;
}
.listener #section2 .main-txt .text2 .txtbox span {
  font-size: 22px;
  font-weight: 500px;
}
.listener .all-ft .app-down .main-txt p {
  font-size: 20px;
}

/*****company 클래스 부분*****/


.company #section0 {           
  width: 100%;
  height: 800px;
}

.company #section0 .mainVisual { 
  background: url(image/main-bg01.png) no-repeat 50% 50%;
  background-size: cover;
  height: 100%;
}

.company #section0 .mainVisual .main-txt p {
  vertical-align: middle;
  text-align: center;
  color: rgb(90, 90, 90);
}

.company #section0 .mainVisual .main-txt p.title {
  vertical-align: middle;
  text-align: center;
  color: rgb(90, 90, 90);
  padding-top: 0;
  font-weight: 400; /* 글자 굵기 */
}


/*------------------------*/



/*회사소개 (background부분) */
.company .section.bg {
  height: 260px;
  background: url("Image/company_bg.jpg") no-repeat center center;
  background-size: cover;
  display: table;
  width: 100%;
  text-align: center;
  padding-top: 60px;
}

/*회사소개 (background부분) 모바일 */
.company .section.bg.mb {
  display: none;
}

/*회사소개 (p tag부분) 즉 회사소개 글씨 어떻게 할지 */
.company .section.bg p {
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
  color: white;
}

/*CEO 인사말 글씨 가운데 정렬해줌*/
.company .section.titlebox .title {
  text-align: center;
  border-bottom: solid 2px #efefef;
}

/*CEO 인사말 글씨*/
.company .section.titlebox .title p {
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  padding: 25px 0;
  display: inline-block;
  border-bottom: solid 2px #333333;
  margin-bottom: -2px;
}

/*"CEO 인사말 ~ 사람들이 원하는 바를"까지 띄어지게 만드는 곳*/
.company .section.ceo {
  padding: 90px 0;
}

/*"CEO 사진 왼쪽으로 나오게 만들고 오른쪽 글씨랑 약간 거리있도록 만드는 곳*/
.company .section.ceo .innerWrap .profile {
  float: left;
  margin-right: 70px;
}

.company .section.ceo .innerWrap .profile .logo {
  text-align: center;
  margin-top: 50px;
}

.company .section.ceo .innerWrap .text {
  float: left;
  width: 60%;
  margin-top: -10px;
}

/*class="innerWrap pc" 이부분을 블록으로 만들기 */
.company .section.ceo .innerWrap.pc {
  display: block;
}
/*class="innerWrap mb" 이부분을 pc일때 안보이게 해줌 */
.company .section.ceo .innerWrap.mb {
  display: none;
}

.company .section.notice_box .innerWrap {
  max-width: 900px;
}

/*사람들이 원하는 바를~ 대표윤주황까지 글씨관리 즉 전체글씨임*/
.company .section.ceo .innerWrap .text p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: -1px;
  margin-top: 32px;
}
/*사람들이 원하는 바를~ 텐데까지 글씨 관리*/
.company .section.ceo .innerWrap .text p.big {
  font-size: 28px;
  line-height: 48px;
  font-weight: 500;
  margin-top: 0;
}

/*사람과 사람을 연결하다 글씨 관리*/
.company .section.ceo .innerWrap .text p.sub {
  font-size: 20px;
  font-weight: 500;
}

/*"대표이사 윤주황" 글씨 관리*/
.company .section.ceo .innerWrap .text p.ceo {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  margin-top: 50px;
}
/*"대표이사 윤주황" 오른쪽 이미지 관리 */
.company .section.ceo .innerWrap .text p.ceo img {
  vertical-align: middle;
  margin-left: 16px;
}

.company .section.ceo .innerWrap .profile .img {
  width: 100%;
}

.company .section.ceo .innerWrap .profile .img img {
  width: 100%;
}

.company .section.ceo .innerWrap .profile .logo {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding-top: 16px;
}

/*CEO 사진 가로 380px 세로 558px로 맞추기*/
.company .section.ceo .innerWrap .profile .img {
  width: 380px;
  height: 558px;
}

/*
.company .section.ceo .innerWrap .profile .logo {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding-top: 16px;
}
*/

/* 사람과 사람을 연결하다 애니맨(하단)부분  css*/

.all-ft {
  background: #fff;
}

.all-ft {
  height: auto !important;
}

.all-ft .app-down {
  background: url("Image/main-bg06.png") no-repeat 50% 50%;
  background-size: cover;
  margin-top: 0;
}
/*"사람과 사람을 연결하다" 이 글씨 부분*/
.all-ft .app-down .main-txt {
  text-align: center;
  padding-top: 80px;
}

/* 하단 "애니맨" 이 글씨부분*/
.all-ft .app-down .main-txt p.title {
  font-size: 32px;
  line-height: 32px;
  font-weight: bold;
  padding: 15px 0 35px;
}
.all-ft .app-down .app {
  text-align: center;
  padding-bottom: 50px;
}
.all-ft .app-down .app a {
  display: inline-block;
  vertical-align: middle;
  background: rgba(255, 255, 255, 0.5);
  width: 180px;
  height: 50px;
  border-radius: 30px;
  line-height: 40px;
  margin: 0 15px;
  cursor: pointer;
}
.all-ft .app-down .app a img {
  vertical-align: middle;
}

/**** footer 부분 ****/

/* 전체적인 footer 위치 */
footer#footer {
  padding: 50px 0;
}

footer#footer:after {
  content: "";
  display: block;
  clear: both;
}

/* footer 텍스트 위치 */
footer#footer .txt {
  float: left;
  width: 70%;
}

/* footer 로고 위치 */
footer#footer .logo {
  float: left;
  width: 30%;
  text-align: right;
}

/* footer 카카오톡 채널, 나와산책 부분 */
footer#footer .txt .o-dep p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #3c3c3c;
  display: flex;
}
/* footer#footer .txt .o-dep b {
    font-weight: 500;
    margin-right: 20px;
    color: #3c3c3c;
} */
footer#footer .txt .o-dep a {
  font-weight: 500;
  margin: 0 20px 0 4px;
  color: #3c3c3c;
}
footer#footer .txt .o-dep span {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #666;
}
footer#footer .txt .tw-dep {
  margin: 30px 0;
}
footer#footer .txt .tw-dep p {
  font-size: 14px;
  line-height: 26px;
  color: #3c3c3c;
}
footer#footer .txt .tw-dep b {
  font-weight: 500;
  margin-left: 5px;
}
footer#footer .txt .tw-dep span {
  font-size: 14px;
  line-height: 26px;
  color: #3c3c3c;
  margin: 0 10px;
}
footer#footer .txt .th-dep {
  font-size: 14px;
  line-height: 14px;
  color: #383838;
  font-weight: 400;
}
footer#footer .logo .sns ul li {
  margin-left: 10px;
  display: inline-block;
}
footer#footer .logo .sns ul li:first-child {
  margin-left: 0;
}
footer#footer .logo .sns ul li a {
  width: 40px;
  height: 40px;
  display: block;
  cursor: pointer;
}
footer#footer .logo .sns ul li:nth-child(1) a {
  background: url(Image/sns-banner04.png) no-repeat 50% 50% / cover;
}
/* footer#footer .logo .sns ul li:nth-child(2) a {
  background: url(Image/sns-banner02.png) no-repeat 50% 50% / cover;
}
footer#footer .logo .sns ul li:nth-child(3) a {
  background: url(Image/sns-banner03.png) no-repeat 50% 50% / cover;
}
footer#footer .logo .sns ul li:nth-child(4) a {
  background: url(Image/sns-banner04.png) no-repeat 50% 50% / cover;
}
footer#footer .logo .seoul {
  margin-top: 40px;
} */

/***** Media ( 화면 크기 ) *****/

@media screen and (max-width: 1400px) {
  /* listener 전체 title 텍스트 설정 */

  .listener .main-txt p.title {
    font-size: 36px; /* font-size: 40px -> 36px */
    line-height: 54px; /* line-height: 60px -> 54px */
  }
  .listener #section4 .main-txt {
    padding-top: 100px;
  }

  .listener #section2 .main-txt .text1 .imgbox1 {
    margin-left: -30%;
  }

  .listener #section2 .subVisual .main-txt .text1 .txtbox p{
    font-size: 20px;
  }
  .listener #section2 .subVisual .main-txt .text2 .txtbox p {
    font-size: 12px;
    line-height: 20px;
  }
  .listener #section2 .subVisual .main-txt .text2 .txtbox span {
    font-size: 14px;
  }
  .use #section4 .txtbox span {
    right: -90%;
  }
}

@media screen and (max-width: 1200px) {
  .section .innerWrap {
    max-width: 100%;
    width: 100%;
  }

  /** use.html 화면 텍스트 비율 조정 **/

  .use #section0 .row2.s1 {
    width: 50%;
  }

  .use #section0 .row2.s2 {
    width: 50%;
  }
  /* 첫 번째 화면 왼쪽 텍스트 */

  .use #section0 .row2.s1 .txtbox {
    right: 180px;
  }
  .use #section0 .txtbox p {
    font-size: 26px;
  }

  /* 첫 번째 화면 오른쪽 텍스트 */

  .use #section0 .row2.s2 .txtbox {
    left: 180px;
  }
  .use #section0 .s2 .txtbox p,
  .use #section0 .s2 .txtbox p b {
    font-size: 35px;
  }

  .use #section4 .txtbox span {
    right: -100%;
  }

  /* tip.html 화면 사이드 비율 꽉차게 */

  .tip .subVisual {
    margin: 0;
  }

  /* listner.html 화면 사이드 비율 꽉차게 */

  .listener .subVisual {
    margin: 0;
  }

  /* footer 텍스트 비율 조정 */

  footer#footer {
    padding: 50px 20px;
  }

  /* company 배경 이미지 비율 조정 */

  .company .section.bg {
    background: url(Image/company_bg.jpg) no-repeat 80% 50%;
  }

  /* company 이미지 ( 프로필 사진, asn 적혀있는 것 ) 비율 조정 */

  .company .section.ceo .innerWrap .profile {
    width: 100%;
    text-align: center;
    float: unset;
  }

  /* company 텍스트 본문 조정 */

  .company .section.ceo .innerWrap .text {
    float: unset;
    width: 100%;
    padding: 0 20px;
    margin-top: 50px;
  }

  /* .company .section.notice_box .innerWrap {
        max-width: 100%;
        padding: 0 20px;
    } */
}

@media screen and (max-width: 1024px) {

  .listener #section2 .subVisual .main-txt .text1 .txtbox p{
    font-size: 20px;
  }

 .listener #section2 .subVisual .main-txt .text2 .txtbox p {
   font-size: 10px;
   line-height: 20px;
   padding-left: 20px;
 }
 .listener #section2 .subVisual .main-txt .text2 .txtbox span {
   font-size: 12px;
 }
  header > a {
    left: 20px;
  }

  /* pc-nav off */

  header nav.pc-nav {
    display: none;
  }

  /* mobile-nav on */

  header nav.mobile-nav {
    display: block;
  }

  /* home.html 두 번째 화면 오른쪽 끝으로 배치 */

  .main #section2 .subVisual .main-txt {
    left: 0;
    right: 0;
    transform: translate(0, -50%);
    text-align: right;
  }

  .main #section2 .subVisual .main-txt p.title {
    font-size: 24px;
  }

  /* use.html 모든 화면, 텍스트 비율 조정 */

  .use #sction0 .row2.s1 {
    width: 100%;
  }

  .use #section0 .row2.s2 {
    width: 100%;
  }
  .section .row2 {
    width: 100%;
    height: 50%;
  }

  .use #section0 .img {
    width: 300px;
  }
  .use .section .img > img {
    width: 100%;
  }

  /* use.html 대화가 필요한 순간, 이미지 위로 배치 */

  .use #section0 .row2.s1 .txtbox {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 15%;
    left: 50%;
  }

  /* use.html 나와산책으로 해결, 이미지 아래로 배치 */

  .use #section0 .row2.s2 .txtbox {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 65%;
    left: 0;
  }
  .use #section1 .row2.s1,
  .use #section2 .row2.s2,
  .use #section3 .row2.s1,
  .use #section4 .row2.s2 {
    overflow: hidden; /* overflow: 콘텐츠가 커서 요소내에 모두 못 보여줄 때 어떻게 보여주는 지  ( hidden: 넘치는 부분 자름 ) */
  }



  /* use.html 두 번째 화면 폰 이미지 가운데로 설정 */

  .use #section1 .img {
    top: 70%;
    left: 50%;
    right: 0;
    width: 300px;
  }

  /* use.html 세 번째 화면 폰 이미지 가운데로 설정 */

  .use #section2 .img {
    top: 70%;
    left: 50%;
    right: 0;
    width: 300px;
  }

  /* use.html 네 번째 화면 폰 이미지 가운데로 설정 */

  .use #section3 .img {
    top: 70%;
    left: 50%;
    right: 0;
    width: 300px;
  }

  /* use.html 다섯 번째 화면 폰 이미지 가운데로 설정 */

  .use #section4 .img {
    top: 70%;
    left: 50%;
    right: 0;
    width: 300px;
  }

  /* use.html 본문 텍스트 폰트 크기 조정 */

  .use .section .txtbox p {
    font-size: 35px;
  }
  .use .section .txtbox span {
    font-size: 18px;
  }

  .use #section4 .txtbox span {
    text-align: end;
    padding: 57%;
  }
  /* listener.html 첫 번째 화면 조정 */

  .listener #section0 .main-txt {
    padding-top: 0;
    width: 100%;
  }

  /* listener.html 첫 번째 화면 텍스트 폰트 크기 조정 */

  .listener #section0 .main-txt p {
    font-size: 24px;
  }
  .listener #section0 .main-txt p.title {
    font-size: 36px;
  }

  /* tip.html 고민을 ~ 부분 폰트 크기 조정 */

  .tip .subVisual .txtboxWrap .txtbox {
    font-size: 36px;
  }

  /* footer 본문 텍스트 비율 조정 */

  footer#footer .txt {
    width: 100%;
  }

  /* footer 로고들 왼쪽으로 정렬 */

  footer#footer .logo {
    width: 100%;
    text-align: left;
    margin-top: 20px;
  }
  footer#footer .logo .sns {
    width: auto;
    float: left;
  }
  footer#footer .logo .seoul {
    width: auto;
    float: left;
    margin: 0 0 0 20px;
  }
}

@media screen and (max-width: 768px) {

  .main #section2 .subVisual .main-txt p.title {
    font-size: 18px;
  }

  .use #section0 .row2.s1 .txtbox p {
    font-size: 20px;
  }

  .use #section0 .row2.s1 .txtbox span {
    font-size: 30px;
  }

  .listener #section1 .main-txt .txtbox p.title span {
    font-size: 22px;
  }

  .listener #section1 .main-txt .txtbox p.title {
    font-size: 18px;
  }
  .listener #section2 .subVisual .main-txt .text1 .img1,
  .listener #section2 .subVisual .main-txt .text1 .img2 {
    width: 120px;
  }

  .listener #section2 .subVisual .main-txt .text1 .txtbox p {
    font-size: 14px;
    line-height: 16px;
  }

  /*** company.html 본문 내용 수정 ***/

  /* 아래로 24px만큼 떨어트리기 */

  .company .section.ceo .innerWrap .text p {
    margin-top: 24px;
  }

  /* 본문 내용 폰트 크기, 줄 간격 수정 */

  .company .section.ceo .innerWrap .text p.big {
    font-size: 26px;
    line-height: 40px;
  }
  .company .section.ceo .innerWrap .text p.ceo {
    font-size: 22px;
  }
}

@media screen and (max-width: 500px) {
  /* sidenav 각 각 위로 간격 70px 떨어트리기 */

  header nav.mobile-nav .sidenav {
    padding-top: 70px;
  }

  /* sidenav 각 각 폰트 사이즈 수정 */

  header nav.mobile-nav .sidenav a {
    font-size: 20px;
  }

  /*** main.html 조정 ***/
  /* 첫번째, 네번째 화면 위치 조정 */

  .main #section0 .mainVisual .main-txt,
  .main #section3 .subVisual .main-txt {
    left: 0;
    transform: translate(0%, -50%);
  }

  /* 세번째 화면 위치 조정 */

  .main #section2 .subVisual .main-txt {
    left: 0;
    right: 0;
    transform: translate(0%, -50%);
    text-align: right;
  }

  /* 첫번째 화면 내 이야기 ~ 나와산책 텍스트 폰트 크기, 줄 간격 조정 */

  .section .main-txt p.title {
    font-size: 28px;
    line-height: 45px !important;
  }

  /* 첫번째 화면 누군가와 ~ 싶을때 텍스트 폰트 크기, 간격 조정 */

  .main #section0 .mainVisual .main-txt p {
    font-size: 20px;
    padding-bottom: 30px;
  }

  /* 첫번째 화면 내 이야기 ~ 나와산책 텍스트 폰트 크기, 줄 간격 조정 */

  .main #section0 .mainVisual .main-txt p.title {
    font-size: 28px;
    text-align: center;
    line-height: 40px !important;
  }

  /* 첫번째 화면 나와산책 텍스트 폰트 크기, 줄 간격 조정 */

  .main #section0 .mainVisual .main-txt p.title span {
    font-size: 40px;
    line-height: 50px;
  }

  .main #section0 .mainVisual .main-txt .app {
    position: absolute;
    right: 50%;
    top: 70%;
  }

  /* app 이미지 세로 형태로 */

  .main #section0 .mainVisual .main-txt .app a {
    display: block;
    margin-bottom: 16px;
  }

  /* 세번째 화면 문단 간격 조정 */

  .main #section2 .main-txt p.title {
    line-height: 28px;
  }

  /* 세, 네번째 화면 문단, 줄 간격 조정 */

  .main #section2 .main-txt p {
    font-size: 13px;
    line-height: 28px;
  }

  /* 세, 네번째 화면 버튼 안 텍스트 폰트 크기 조정 */

  .main #section2 .subVisual .main-txt a {
    font-size: 14px;
  }

  /*** use.html 조정 ***/

  /* 본문 텍스트 윗 내용 폰트 크기, 줄 간격 조정 */

  .use .section .txtbox p {
    font-size: 28px;
    line-height: 40px;
  }

  /* 본문 텍스트 아래 내용 폰트 크기, 줄 간격 조정 */

  .use .section .txtbox span {
    font-size: 16px;
    line-height: 24px;
  }

  /* 본문 텍스트 위치 조정 */

  .use #section1 .txtbox,
  .use #section2 .txtbox,
  .use #section3 .txtbox,
  .use #section4 .txtbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }

  .use #section4 .txtbox span {
    padding-bottom: 25%;
  }

  /*** listener.html 수정 ***/

  /* 첫번째 화면 폰 이미지 화면 비율 조정 */

  .listener #section0 .img {
    width: 100%;
    bottom: 0% !important;
  }
  .listener #section0 .img > img {
    width: 100%;
  }

  /* 첫번째 화면 텍스트 위치 위로부터 100px만큼 떨어트리기 */

  .listener #section0 .main-txt {
    padding-top: 100px;
  }

  /* 첫번째 화면 원하시는 ~ 만큼 텍스트 폰트 크기 조정 */

  .listener #section0 .main-txt p {
    font-size: 20px;
  }

  /* 첫번째 화면 이제 ~ 나와산책 텍스트 폰트 크기, 위치 조정 */

  .listener #section0 .main-txt p.title {
    font-size: 26px;
    padding-top: 24px;
  }

  /* 첫번째 화면 나와산책 텍스트 폰트 크기, 줄 간격 조정 */

  .listener #section0 .main-txt p.title span {
    font-size: 32px;
    line-height: 40px;
  }

  /* 모든 화면 텍스트 p.title 폰트 크기, 줄 간격 조정 */

  .listener .main-txt p.title {
    font-size: 22px;
    line-height: 30px !important;
  }

  .listener #section1 .main-txt .txtbox p.title {
    font-size: 10px;
  }

  .listener #section1 .main-txt .txtbox p.title span {
    font-size: 13px;
  }

  .listener #section2 .subVisual .main-txt .text1 .img1,
  .listener #section2 .subVisual .main-txt .text1 .img2 {
    width: 120px;
    height: 120px;
  }
  .listener #section2 .subVisual .main-txt .text1 .txtbox p {
    padding-left: 0;
    padding-right: 0;
    font-size: 5px;
  }
  .listener #section2 .subVisual .main-txt .text2-mb .txtbox {
    display: flex;
  }

  .listener #section2 .subVisual .main-txt .text2-mb .txtbox span {
    font-size: 16px;
  }

  .listener #section2 .subVisual .main-txt .text2-mb .img3 {
    padding-left: 20px;
  }

  .listener #section2 .subVisual .main-txt .text2 {
    display: none;
  }

  .listener #section2 .subVisual .main-txt .text2-mb {
    display: block;
  }

  /*** company.html 조정 ***/

  /* pc용 회사소개 텍스트 off */

  .company .section.bg {
    display: none;
  }

  /* mobile용 회사소개 텍스트 on */

  .company .section.bg.mb {
    height: 300px;
    background: url(Image/company_bg.jpg) no-repeat center center;
    background-size: cover;
    display: table;
    width: 100%;
    text-align: center;
    padding-top: 60px;
  }

  /* 회사소개 텍스트 화면 위치 조정 */

  .company .section.bg {
    height: 300px;
    position: relative;
    background-size: cover;
  }

  /* 회사소개 텍스트 폰트 크기, 줄 간격, 위치 조정 */

  .company .section.bg p {
    font-size: 32px;
    line-height: 32px;
    position: absolute;
    left: 16px;
    bottom: 40px;
    
  }

  /* ceo 인사말 텍스트 위치 조정 */

  .company .section.titlebox .title {
    text-align: left;
    border-bottom: none;
  }

  /* ceo 인사말 텍스트 폰트 크기, 줄 간격 조정 */

  .company .section.titlebox .title p {
    font-size: 14px;
    line-height: 14px;
    padding: 50px 16px;
  }

  .company .section.ceo {
    padding: 0;
  }

  /* pc용 본문 텍스트 off */

  .company .section.ceo .innerWrap.pc {
    display: none;
  }

  /* mobile용 텍스트 on */

  .company .section.ceo .innerWrap.mb {
    display: block;
  }

  /* 사람들이 원하는 바를 ~ 좋을텐데 텍스트 폰트 크기, 줄 간격, 위치 조정 */

  .company .section.ceo .innerWrap.mb .big {
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.4px;
    text-align: left;
    color: #333;
    padding: 0 16px 50px;
    word-break: keep-all;
  }

  /* profile 이미지 비율 조정 */

  .company .section.ceo .innerWrap .profile .img {
    width: 100%;
  }
  .company .section.ceo .innerWrap .profile .img img {
    width: 100%;
  }

  /* 전체 텍스트 위치 조정 */

  .company .section.ceo .innerWrap .text {
    margin-top: 32px;
  }

  /* 2008년부터 ~ 선보였습니다. 텍스트 위치, 폰트 크기 조정 */

  .company .section.ceo .innerWrap .text p {
    margin-top: 16px;
    font-size: 14px;
  }

  /* 사람과 ~ 연결하다 텍스트 폰트 크기, 굵기 조정 */

  .company .section.ceo .innerWrap .text p.sub {
    font-size: 16px;
    font-weight: 500;
  }

  /* 대표이사 ~ 텍스트 폰트 크기, 굵기, 줄 간격 조정 */

  .company .section.ceo .innerWrap .text p.ceo {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.57;
    letter-spacing: -0.28px;
    text-align: left;
    color: #333;
    margin: 60px 0 40px;
  }

  /* 싸인 화면 비율 조정 */

  .company .section.ceo .innerWrap .text p.ceo img {
    width: 74px;
  }

  /*** all-ft 부분 조정 ***/

  /* 당신의 ~ 나와산책 텍스트 위치 조정 */

  .all-ft .app-down .main-txt {
    text-align: center;
    padding-top: 15px;
  }

  /* app 로고 위치 조정 */

  .all-ft .app-down .app {
    text-align: center;
    padding-bottom: 15px;
  }

  /* 당신의 ~ 들어드립니다 텍스트 폰트 크기, 줄 간격 조정 */

  .section .main-txt p {
    font-size: 14px;
    line-height: 24px;
    padding: 16px 16px 0;
  }

  /* 나와산책 텍스트 폰트 크기, 줄 간격 조정 */

  .all-ft .app-down .main-txt p.title {
    font-size: 26px;
    line-height: 26px !important;
    padding: 10px 16px;
  }

  /* app 로고 각 각 화면 비율 및 위치, 줄 간격 조정 */

  .all-ft .app-down .app a {
    width: 150px;
    height: 40px;
    line-height: 30px;
    margin: 0 10px;
  }

  /*** footer 부분 조정 ***/

  /* footer 전체 위치 조정 */

  footer#footer {
    padding: 25px 20px;
  }

  /* 고객센터 ~ 나와 산책 텍스트 폰트 크기, 위치 수정 */

  footer#footer .txt .o-dep p {
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  footer#footer .txt .o-dep a {
    display: flex;
  }

  /* 주식회사 ~ 기업제휴 텍스트 위치 조정 */

  footer#footer .txt .tw-dep {
    margin: 15px 0;
  }

  /* Copyright ~ Reserved 텍스트 폰트 크기, 줄 간격 조정 */

  footer#footer .txt .th-dep {
    font-size: 12px;
    line-height: 12px;
  }

  /* logo 화면 비율 조정 */

  footer#footer .logo .sns ul li,
  footer#footer .logo .sns ul li a {
    width: 32px;
    height: 32px;
  }

  /* 서울 logo 화면 비율 조정 */

  footer#footer .logo .seoul img {
    width: 90px;
  }
}

@media screen and (max-width: 320px) {
  /* tip.html 아이콘들 화면 비율 조정 */

  .tip .section .subVisual .imgbox .list > span {
    width: auto;
    height: 50px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tip .section .subVisual .imgbox .list > span img {
    width: 100%;
  }

  /* tip.html 아이콘 텍스트들 폰트 크기, 위치 조정 */

  .tip .section .subVisual .imgbox .list > p {
    font-size: 14px;
    margin-top: 16px;
    padding: 0px 8px;
  }

  /* listener.html 전체 텍스트 위치 조정 */

  .listener .main-txt p {
    padding-top: 16px;
  }

  /* listener.html 나와산책 텍스트 폰트 크기 조정 */

  .listener #section0 .main-txt p.title span {
    font-size: 30px;
  }

  /* footer 첫번째 문단 위치 조정 */

  footer#footer .txt .o-dep {
    margin-bottom: 16px;
  }

  /* footer 첫번째 문단 첫번째 문장 위치 조정 */

  footer#footer .txt .o-dep a {
    margin-right: 16px;
  }
  footer#footer .txt .o-dep b {
    margin-right: 0;
  }

  /* footer 첫번째 문단 두번째 문장 텍스트 폰트 크기 조정 */

  footer#footer .txt .o-dep span {
    font-size: 13px;
  }

  /* footer 두번째 문단 off */

  footer#footer .txt .tw-dep {
    display: none;
  }

  /* all-ft logo 화면 비율 조정 */

  .all-ft .app-down .app a {
    width: 120px;
    padding: 0 16px;
  }
  .all-ft .app-down .app a img {
    width: 100%;
  }
}

/*** mobile (세로 비율 기준) ***/

@media screen and (max-height: 936px) and (min-height: 813px) {
  .listener #section0 .img {
    bottom: -10%;
  }
  .listener .main-txt p.title {
    font-size: 36px;
    line-height: 44px !important;
  }
  .listener .main-txt p {
    padding-top: 16px;
  }
}

@media screen and (min-height: 700px) and (max-height: 823px) {
  .tip .subVisual .txtboxWrap .txtbox {
    font-size: 24px;
    padding: 0;
    position: relative;
    top: 20%;
  }
  .tip .subVisual .txtboxWrap .sub_txtbox {
    position: relative;
  }

  .listener #section0 .img {
    bottom: -20%;
  }
}
